<h1>New Skill</h1>
<form action='/skill_list' method='post'>
  <input type='text' name='skill[name]'>
  <textarea name='skill[description]'></textarea>
  <button type='submit' value='add'>add</button>
</form>
